# Supabase Configuration (Use the service_role key for backend to bypass RLS)
SUPABASE_URL=sdfsdfsdf
SUPABASE_KEY=sdfsdfsdf

# API Server Configuration
PORT=8000
ENVIRONMENT=development

GROQ_API_KEY=dsfsdfsdf