# Supabase Configuration (Use the service_role key for backend to bypass RLS)
SUPABASE_URL=https://gmrayhnwhivcdvzhixdj.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBh

# API Server Configuration
PORT=8000
ENVIRONMENT=development

GROQ_API_KEY=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